#p1,#p2,#p3,#p4{
    position: relative;
    z-index: 2;
}

/* #p1{
    top:-82%;
    left: -16%;
    height: 0px;
}
#p2{
    top:-4%;
    left: -16%;
    height: 0px;
} */
/* #p3{
    top:-85%;
    left: -14%;
    height: 0px;
}
#p4{
    top:-4%;
    left: -14%;
    height: 0px;
} */
